<a href="https://colab.research.google.com/github/mariasayo/CPEN21A-PLD-/blob/main/Nested_If_Else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nested If Else

In [4]:
x = 41
if x>10:
  print("above ten")
  if x>20:
    print("above twenty")
  else:
    print("below twenty")
    if x>30:
      print("above thirty")
    else:
      print("below thirty")
      if x>40:
        print("above forty")
      else:
        print("below forty")
        if x>50:
          print("above fifty")
        else:
          print("below fifty")

above ten
above twenty

In [2]:
x = 41
if x>10:
  print("above ten")
elif x>20:
  print("above twenty")
elif x>30:
  print("above thirty")
elif x>40:
  print("above forty")
else:
  print("not above 50")

above ten

In [8]:

print("Enter a number:")
x = int(input())
if x>10:
  print("above 10")
  if x<20:
    print("below 20")
  else:
    print("above 20")
    if x<30:
      print("below 30")
    else:
      print("above 30")
      if x<40:
        print("below 40")
      else:
        print("above 40")
        if x<50:
          print("below 50")
        else:
          print("above 50")

Enter a number:
51
above 10
above 20
above 30
above 40
above 50

Example 1

Example 2

Example 3